<header class="menu">
  <h3 class="user-info">Usuário: {{user}}</h3>
  <div (click)="logout()" class="container-exit">
    <h3 class="exit-item">Exit</h3>
    <button class="exit-item">
      <fa-icon size="2x" [icon]="faExit"></fa-icon>
    </button>
  </div>
</header>
<main class="content">
  <article class="table">
    <section class="thead">
      <div class="th role-id">id</div>
      <div class="th">title</div>
      <div class="th">slug</div>
      <div class="th"> lane assignment</div>
    </section>
    <section class="tbody">
      <section class="row" *ngFor="let role of roles">
        <div class="td role-id"> {{role.id}}</div>
        <div class="td"> {{role.title}}</div>
        <div class="td"> {{cleanString(role.slug)}}</div>
        <div class="td"> {{role.lane_assignment}}</div>
      </section>
    </section>
  </article>
  <footer class="container-pagination">
    <button (click)="previous()" class="btn-page btn-back">
      <fa-icon [icon]="faAngleLeft"></fa-icon>
    </button>
    <button (click)="getPage(pag)" [ngClass]="pagination.current_page == pag ? 'selected' : ''"
            class="btn-page" *ngFor="let pag of pages ">{{pag}}</button>
    <button (click)="next()" class="btn-page btn-back">
      <fa-icon [icon]="faAngleRight"></fa-icon>
    </button>
  </footer>
</main>
